body {
    width: 700px;
    margin: 0 auto;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    margin-top: 35px;
    margin-bottom: 4px;
}

table {
    width: 100%;
}

td {
    font-size: 16px;
    border-bottom: 1px solid green;
    height: 1.3em;
}

thead td {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.code {
    font-size: 14px;
    font-family: monospace, sans-serif;
    width: 70px;
}

.code span {
    display: table;
    background-color: white;
}


/* Colors: table tags secion */

.tabletags thead {
    background-color: lightgreen;
}

.tabletags h2 {
    color: green;
}

.tabletags table {
    border: 3px solid green;
}

pre {
    font-size: 14px;
    font-family: monospace, sans-serif;
    color: white;
    background-color: black;
    border: 3px solid green;
    padding: 8px;
    width: 320px;
    margin-top: 0px;
}

.examples {
    width: 100%;
    height: 300px;
}

.code-example {
    position: relative;
    width: 300px;
}

.code-running {
    position: relative;
    top: -393px;
    left: 350px;
    width: 350px;
}
