/********************************************************/
/*                        General                      */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 700px;
    margin: 0 auto;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

/********************************************************/
/*                       Header                         */

header {
    position: sticky;
    top: 0px;
    height: 90px;
    padding-top: 20px;
    background-color: lightgray;
    z-index: 200;
}


nav, h1 {
    font-family: "Lucida Grande", sans-serif;
    background-color: #1f2f2f;
    color: white;
}

nav {
    font-size: 14px;
    display: inline-flex;
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    margin: 0px;
    border: 2px solid gray;
    border-top-width: 0px;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 0px;
    border: 2px solid gray;
}

nav li {
    display: inline-flex;
    margin: 6px 10px;
}

/********************************************************/
/*                  Cheatsheet Section                  */

h2 {
    font-size: 26px;
    text-align: center;
}

.positions p {
    font-size: small;
    margin: 3px 15px;
}

table {
    width: 100%;
}

h3, caption {
    font-size: 18px;
    text-align: left;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 3px;
    margin-left: 5px;
}

td {
    font-size: 16px;
    height: 1.3em;
}

thead td {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

/********************************************************/
/*                 Footer and credits                   */

footer {
    background-color: lightgray;
    height: 80px;
    width: 700px;
    position: fixed;
    bottom: 0px;
    z-index: 200;
}

footer ul {
    background-color: black;
    border: 2px solid gray;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 25px;
}

footer li {
    display: inline-flex;
    margin: 6px 55px;
    font-size: small;
    color: white;
    margin-top: 11px;
}

#credits {
    color:black;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 5px;
    right: 20px;
}

/********************************************************/
/*           Formating Code Examples Text               */


/*                 Code inside table                    */
.code {
    font-size: 14px;
    font-family: monospace, sans-serif;
    width: 70px;
}

.code span {
    display: table;
    background-color: white;
}

/*                 Standalone code examples             */

pre {
    font-size: 14px;
    font-family: monospace, sans-serif;
    color: greenyellow;
    background-color: #1f2f2f;
    padding: 8px;
    margin-top: 0px;
}


/********************************************************/
/*                   Anchor elements                    */

a {
    text-decoration: none;
}

a, a:visited, a:active {
    color: inherit;
}

a:hover {
    color:lightgray
}

/*                Anchor position fixing                */

#anchor-HTML-tables, 
#anchor-CSS-position {
    display: block;
    position: relative;
    top: -113px;
    visibility: hidden;
}


/********************************************************/
/*                 Sections positioning                 */

section.positions,
section.position-examples {
    margin-top: 40px;
}

section.cheatsheet {
    margin-bottom: 70px;
}

/********************************************************/
/*         White borders of Cheatsheet Section          */

/* Top border is coded into Header,                     */
/* Bottom border into Footer, Left and Right borders    */
/* are coded into Cheatsheet Section                    */

section.cheatsheet {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

header {
    border-bottom: 1px solid white;
}

footer {
    border-top: 1px solid white;
}

/********************************************************/
/*              Setting Table-Columns widths            */

/*    Table column width for 'HTML Table Tags' table    */

.tabletags .first-col {
    width: 80px;
}

.tabletags .second-col {
    width: 100px;
}


/*    Table column width for 'Position Values' table     */

.positions .first-col {
    width: 100px;
}

.positions .second-col {
    width: 50px;
}

.positions .third-col {
    width: 70px;
}

.positions .fourth-col {
    width: 50px;
}


/********************************************************/
/*               CSS Position Example Section           */

/*            Positioning and shaping Boxes             */

section.positions {
    height: 850px;
}

.position-examples {
    position: relative;
    height: 460px;
    z-index: 0;
}

.code-box h3,
.example-box h3 {
    position: absolute;
    top: -45px;
}

.code-box,
.example-box,
.code-box div,
.example-box div {
    width: 310px;
    height: 400px;
    position: absolute;
}

.code-box,
.example-box {
    top: 15px;
}

.code-box div,
.example-box div {
    overflow: auto;
}

.code-box {
    border: 2px solid black;
    left: 20px;
}

.example-box {
    border: 2px solid red;
    right: 20px;
}

/*             Content inside Example-Box               */

.example-box div div {
    height: 60px;
    width: 60px;
    overflow: hidden;
    box-sizing: border-box;
}

.example-box p {
    text-align: center;
    margin: 20px 0px 0px;
}

div.box-before {
    background-color: gray;
    opacity: 0.5;
    left: 60px;
}

div.box-now {
    background-color: red;
    border: 1px solid black;
    opacity: 1;
}


/*  Coding boxes so that thay appear as having    */
/*  position properties determined by p tag text  */

#static {
    position: absolute;
    top: 60px;
    left: 60px;
}

#relative {
    position: absolute;
    top: 330px;
    left: 90px;
}

#absolute {
    position: absolute;
    top: 480px;
    left: 150px;    
}

#fixed {
    position: sticky;
    top: 300px;
    left: 180px;
    z-index: 120;
}

#sticky {
    position: sticky;
    top: 10px;
    margin-top: 180px;
    margin-left: 130px;
    z-index: 120;
}

/*            Positioning 'Static' Boxes               */

#static-before {
    top: 60px;
}

#sticky-before {
    top: 180px;
}

#relative-before {
    top: 300px;
}

#absolute-before {
    top: 420px;
}

#fixed-before {
    top: 540px;
}

#empty-space {
    height: 700px;
}

/********************************************************/
/*         Scrolling effect on Section Headers          */
.tabletags h2,
.positions h2 {
    position: sticky;
    top: 111px;
    z-index: 100;
}


/********************************************************/
/*                    Colors Section                    */


/*             Colors: HTML table tags secion           */

section.tabletags {
    background-color: #b4d1ba;
    border: 1px solid #d3e4d6;
}

.tabletags h2 {
    background-color: #74aa7f;
    border: 2px solid darkgreen;
}

.tabletags thead {
    background-color: lightgreen;
}

.tabletags table {
    border: 2px solid green;
}

.tabletags td {
    border-bottom: 1px solid green;
}

/*             Colors: CSS Position Section           */

section.positions {
    background-color: #ffccc4;
    border: 2px solid #ffdcd6;
}

.positions h2 {
    background-color: #ff725c;
    border: 2px solid red;
}

.positions thead {
    background-color: #ff9e8f;
}

.positions table {
    border: 2px solid red;
}

.positions td {
    border-bottom: 1px solid red;
}

.code-box div {
    background-color: #1f2f2f;
}